AWSTemplateFormatVersion: '2010-09-09'
Description: sftp user creation

Resources:
  UserTest:
    Type: AWS::Transfer::User
    Properties:
      ServerId: s-8e3d46b512f94e12b
      UserName: testuser1
      HomeDirectoryMappings:
      - Entry: "/"
        Target: "/buck5tr/test"
      HomeDirectoryType: LOGICAL
      Role: "arn:aws:iam::273641968769:role/buck5role"
      SshPublicKeys:
        - ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAnErBsBMWLfpecfmBW/BX32ze6WZc7JfEUCakp28tIOFrnKJs/D2dW4nAEBqMi8E2JrGAAVDGnu+zxLHc6dERKZpfgp8867TUB84WYjiLyXBOxdtewTyf7/Yy4OiT/HdhvF3HBrwpvMzRwMUl/OBLXxjIovDPxXmuILJzH5SbxQKFunVpSvH/xG7Tsio46BL494VGSxVJ502IHHH5aMCsBHo8K+u8D5mMq3ab+4J/EwW7QpGqvjwQr4IrQgZ98X0VffIsqO/b5MVxupsuU7iZzMPYNSdt41fXWbszbGMx9de6qcz+XKAE1rZslce5IIRt+flcFHf1gdFh01TyyI2fsw== rsa-key-20210911
Outputs:
    Username:
      Value: !Ref UserTest
      Description: Name of user



